body{
    background-color: #0B1121;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;

}
.logo{
    margin-left: -30px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-links{
    display: inline;
}
.nav-links li{
    display: inline;
}
.nav-links a{
    color: white;
    text-decoration: none;
    gap: 20px;
    padding: 10px;
    margin-right: 10px;
    transition: color 0.5s ease;
    font-weight: bold;
    
}
.nav-links a:hover{
    color: skyblue;
    text-decoration: underline;
}
.heading
{
    text-align: center;
}
.head{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.para p{
    color: #94A3B8;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.btn{
    margin-left:40%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #0EA5E9;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.image{
width: 30px;
height: 30px;
margin: auto 5px;
background-color: transparent; 
    opacity: 1.5; 
    border-radius: 50%;


}
.logo-component{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.text{
    height: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #1E293B;
    border-radius: 10px;
    border: none;
    color: white;
}
.lady{
    background-color: #1e293b;
    width: 50vh;
    height: 300px;
    justify-content: center;
    margin-left: 20%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 220px;
}
.lady2 img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 40%;
}
.lady2 p{
    font-size: 1.3rem;
    color: #c8d2de;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
.code{
    margin-left: 520px;
    height: 550px;
    width: 600px;
    margin-bottom: 50%;
    border-radius: 10px;
    border: 2px solid white;
}
.location{
    background-color: #0f172a;
    margin-top: 300px;
}
.heade{
    color: white;
    margin-top: 700px;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
.location p{
    color: #728094;
    text-align: center;
    font-size: 1.5rem;
}
.pic{
    justify-content: center;
    margin-left: 600px;
    width: 200px;
}
.pic img{
    border-radius: 50%;
}